{% extends 'myshop/base.html' %}
{% load static %}

{% block content %}
    <div class="row"> 
        {% for product in products %}
                        
        <div class="col-lg-4">
            <img src="{{ product.image.url }}" alt="" class="thumbnail">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>

                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float:right"><strong>${{ product.price }}</strong></h4>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="col-lg-4">
            <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
            <div class="box-element product">
                <h6><strong>Produit</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
            <div class="box-element product">
                <h6><strong>Produit</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float:right"><strong>$20</strong></h4>
            </div>
        </div> -->
    </div>
{% endblock content %}

